body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #1e1e1e;
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f5f5f5;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #dcdcdc;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f5f5f5;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 5px;
}

#sobre p{
    text-align: justify;
}

#projetos .projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#projetos .projeto {
    background-color: #1e1e1e;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#projetos .projeto:hover {
    transform: translateY(-10px);
}

#projetos .projeto h3 {
    margin-top: 0;
    color: #f5f5f5;
}

#projetos .projeto video {
    max-width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px 0;
}

#projetos .projeto p {
    line-height: 1.6;
    text-align: justify;
    color: #dcdcdc;
}

#projetos .projeto p a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dashed #f5f5f5;
    transition: color 0.3s, border-bottom 0.3s;
}

#projetos .projeto p a:hover {
    color: #ff6347;
    border-bottom: 1px solid #ff6347;
}

footer {
    background-color: #1e1e1e;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #333;
}

footer p {
    margin: 0;
    color: #dcdcdc;
}

#contato {
    margin: auto;
}

#contato h2 {
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 5px;
}

#contato p {
    color: #dcdcdc;
    margin-bottom: 20px;
}

#contato .contato-links {
    display: flex;
    gap: 20px;
}

#contato .contato-link {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#contato .contato-link:hover {
    background-color: #333;
    color: #ff6347;
}

#contato .contato-link i {
    font-size: 1.5em;
}
